:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --task-bg: #f2f2f2;
  --btn-bg: #e0e0e0;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --task-bg: #1e1e1e;
  --btn-bg: #2c2c2c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
  transition: background 0.3s ease, color 0.3s ease;
}

button {
  background-color: var(--btn-bg);
  color: var(--text-color);
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.app {
  background-color: var(--bg-color);
  padding: 20px 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: var(--task-bg);
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: var(--task-bg);
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

.task-buttons button {
  margin-left: 10px;
  cursor: pointer;
}

.edit-input {
    font-size: 16px;
    padding: 5px;
    width: 100%;
}

#filters button {
    margin: 5px;
    padding: 6px 12px;
    border: none;
    background-color: var(--btn-bg);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 5px;
}

#filters button.active {
  background: #007bff;
  color: white;
}

#filters button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}